extends ../layout/default.pug

block title
  title Curreny Converter

block append style
  // comment-open link(type="text/css" rel="stylesheet" href="/index.css")

block append script
  script(src="/index.js")

block content
  #app
