
.suggest {
  /* position: relative; */

  & .suggest-input {
    position: relative;
    display: flex;
    padding: 5px;

    &:before {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      content: 'D';
      font-family: 'cc';
      left: 12px;
      top: 10px;
      color: #999;
    }

    & .keyword {
      width: 100%;
      border-radius: 5px;
      outline: none;
      border: none;
      padding: 3px 3px 3px 24px;
      font-size: 1rem;
      text-transform: uppercase;
      transition: width 300ms linear;
      border-radius: 15px;
    }

    & .cancel {
      width: 100px;
      text-align: center;
      line-height: 28px;
      font-size: 0.9rem;
      color: #007aff;
    }
  }

  & .suggest-suggestions {
    position: relative;
    z-index: 2;
    background-color: #fff;

    & > ul {
      margin: 0;
      padding: 0;

      & > li {
        list-style: none;
      }
    }
  }

  & .suggest-overlay {
    position: fixed;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
