@import './setup.css';

html {
  height: 100%;
}

body {
  margin:0;
  height: 100%;
  @apply --text-font-family;
}

input,
button {
  @apply --text-font-family;
}

.hidden {
  display: none !important;
}

#app,
.pages {
  height: 100%;
}

@font-face {
  font-family: 'cc';
  src: url('../../../assets/fonts/currencyConverter.ttf');
}

.cc {
  font-family: 'cc';
}
